.therapist-card{
    background:#1d1d1d;
    border-radius:15px;
    overflow:hidden;
}

.therapist-card img{
    width:100%;
    height:350px;
    object-fit:cover;
    display:block;
}

.therapist-card h3{
    margin:15px 0 8px;
}

.therapist-card p{
    color:#aaa;
    padding-bottom:15px;
}
