.therapist-card{
    width:280px;
    background:#1f1f1f;
    border-radius:15px;
    overflow:hidden;
    text-align:center;
}

.therapist-card img{
    width:100%;
    height:350px;      /* Thay vì aspect-ratio */
    object-fit:cover;
    display:block;
}

.therapist-card h3{
    margin:15px 0 8px;
}

.therapist-card p{
    color:#aaa;
    padding-bottom:15px;
}
.location-container{

    display:grid;

    grid-template-columns:400px 1fr 1fr;

    gap:30px;

    margin-top:40px;

}

.location-card{

    background:#1d1d1d;

    padding:25px;

    border-radius:15px;

    cursor:pointer;

    margin-bottom:20px;

    transition:.3s;

}

.location-card:hover{

    background:#2b2b2b;

}

.location-card h3{

    margin-bottom:12px;

}

.location-card p{

    color:#bbb;

    line-height:1.7;

}

.map{
    margin : 10px;

    width:100%;

    height:500px;
}
/* ===== Mobile ===== */

@media (max-width:768px){

    .location-container{
        grid-template-columns:1fr;
    }


    .map{
        height:350px;
    }

}
@media (max-width:768px){
    .cards{
        justify-items:center;
    }
}
