
.therapist-card{
    width:150px;
    text-align:center;
}

.therapist-card img{
    width:100%;
    height:100px;
    object-fit:cover;
    border-radius:15px;
    display:block;
}

.therapist-card h3{
    margin-top:15px;
    margin-bottom:8px;
    font-size:22px;
}

.therapist-card p{
    color:#999;
    font-size:15px;
}
